* {
  margin: 0;
  padding: 0;
}

.header-input {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-h1 {
  font-size: 45px;
  margin: 20px 0 30px;
}

#name-input {
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  height: 30px;
  margin-bottom: 20px;
  width: 300px;
}

.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.form-select {
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  height: 25px;
  padding-left: 5px;
  width: 120px;
}

#value-input {
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  height: 23px;
  padding-left: 5px;
  width: 200px;
}

.buttonFilter {
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  transition: 0.4s;
  width: 70px;
}

.buttonFilter:hover {
  opacity: 0.7;
}

.section-filters {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonRemove {
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  margin-left: 5px;
  width: 25px;
}

.removeAllFilters {
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  width: 120px;
}

.table {
  padding-bottom: 20px;
  text-align: center;
}

.table thead {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 5vh;
}

.table tbody td {
  padding-top: 10px;
}
